<div class = "index_come">

    <div class = "index_outcome"> 
        <h3>Витрата</h3>
        <div class = "index_button">
            <%= link_to '<i class="bi bi-bag-plus-fill"></i> Додати<br>витрату'.html_safe, new_operation_path(:otype => "outcome"), :method => :post %>
            <%= link_to '<i class="bi bi-bookmark-plus-fill"></i> Додати<br>категорію'.html_safe, new_category_path(:ctype => "outcome"), :method => :post %>
        </div>
    </div>

    <div class = "index_income"> 
        <h3>Дохід</h3>
        <div class = "index_button">
            <%= link_to '<i class="bi bi-bag-plus-fill"></i> Додати<br>дохід'.html_safe, new_operation_path(:otype => "income"), :method => :post  %>
            <%= link_to '<i class="bi bi-bookmark-plus-fill"></i> Додати<br>категорію'.html_safe, new_category_path(:ctype => "income"), :method => :post %>
        </div>
    </div>

</div>


<div class = "index_balance">
    <% $total_amount = Operation.total_amount %>
    <% if $total_amount < 0 %>
        <div class = "one_item_outcome">
    <% else %>
        <div class = "one_item_income">
    <% end %> 
            <h3>Баланс: <%= $total_amount %> грн</h3>
    </div>
</div>

<div class = "index_other">
    <h3>Інше</h3>
    <div class = "index_button">
        <%= link_to '<i class="bi bi-list-columns-reverse"></i> Журнал операцій'.html_safe, operations_path %>
        <%= link_to '<i class="bi bi-list-columns-reverse"></i> Перелік категорій'.html_safe, categories_path %>
        <%= link_to '<i class="bi bi-file-earmark-bar-graph-fill"></i> Звіт'.html_safe, reports_path %>
    </div>
</div>