<table>
    <tr>
        <th><%= t('phrase') %></th>
    </tr>
    <tr>
        <td>
            <%= "\u00A9" %> 2023-<%= Date.today.year %> <%= link_to "https://github.com/Botiuk" do %>
                <%= t('developer') %>
            <% end %>
        </td>
    </tr>
</table>
