<div id="<%= dom_id category %>">

    <% if category.ctype == "outcome" %>
        <div class = "one_item_outcome">
    <% else %>
        <div class = "one_item_income">
    <% end %>
        <table>
            <tr class = "one_item">
                <td class = "cat_name"><%= category.name %></dt>
                <td class = "cat_description"><%= category.description %></td>

                <td class = "td_button">
                    <%= link_to '<i class="bi bi-file-earmark-text-fill"></i>'.html_safe, category %>
                </td>
                <td class = "td_button">
                    <%= link_to '<i class="bi bi-pencil-fill"></i>'.html_safe, edit_category_path(category) %>
                </td>
                <td class = "td_button">
                    <%= link_to '<i class="bi bi-trash3-fill"></i>'.html_safe, category, data: { turbo_method: :delete, turbo_confirm: 'Точно видалити?' } %>
                </td>
            </tr>
        </table>
    </div>

</div>
