<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div style="color: red">
      <h2><%= t 'forms.messages.errors', count: category.errors.count %></h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if category.ctype == "outcome" %>
    <div class = "one_item_outcome">
  <% else %>
    <div class = "one_item_income">
  <% end %>

      <div class = "form">

        <div>
          <%= hidden_field_tag :previous_request, request.referer %>
        </div>

        <div>
          <%= form.hidden_field :ctype %>
        </div>

        <div>
          <%= form.hidden_field :user_id, :value => current_user.id, readonly: true %>
        </div>

        <div>
          <%= form.label :name, t('.name'), style: "display: block" %>
          <%= form.text_field :name, size: "25x1",  placeholder: t('.name-placeholder'), autofocus: true %>
        </div>

        <div>
          <%= form.label :description, t('.description'), style: "display: block" %>
          <%= form.text_area :description, size: "30x5", placeholder: t('.description-placeholder') %>
        </div>

        <div>
          <%= form.button nil, class: "btn btn-success" do %>
            <i class="bi bi-check-lg"></i><%= t('button.submit') %>
          <% end %>
        </div>

      </div>

    </div>

<% end %>
