<h3><%= t('.title') %></h3>

<div class = "button_on_top">    
    <%= link_to root_path do %>
        <i class="bi bi-house-fill"></i><%= t('button.home') %>
    <% end %>
    <%= link_to categories_path do %>
        <i class="bi bi-list-columns-reverse"></i><%= t('button.categories-list') %>
    <% end %>
    <%= link_to @category do %>
        <i class="bi bi-file-earmark-text-fill"></i><%= t('button.show') %>
    <% end %>
</div>

<%= render "form", category: @category %>
