<p style="color: green"><%= notice %></p>

<h3>Перелік категорій</h3>

<div> <button type="button"><%= link_to "Додати категорію витрат", new_category_path(:ctype => "outcome"), :method => :post %></button></div>
<div> <button type="button"><%= link_to "Додати категорію доходів", new_category_path(:ctype => "income"), :method => :post %></button></div>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
  <% end %>
</div>

<%= paginate @categories, window: 1, outer_window: 1 %>
