<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h3>Перелік категорій</h3>

<div class = "button_on_top">
  <%= link_to '<i class="bi bi-house-fill"></i> На головну'.html_safe, root_path %>
  <%= link_to '<i class="bi bi-bookmark-plus-fill"></i> Додати категорію витрат'.html_safe, new_category_path(:ctype => "outcome"), :method => :post %>
  <%= link_to '<i class="bi bi-bookmark-plus-fill"></i> Додати категорію доходів'.html_safe, new_category_path(:ctype => "income"), :method => :post %>
</div>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
  <% end %>
</div>

<%= paginate @categories, window: 1, outer_window: 1 %>
