<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h3>Перелік категорій</h3>

<div class = "button_on_top">
  <%= link_to "На головну", root_path %>
  <%= link_to "Додати категорію витрат", new_category_path(:ctype => "outcome"), :method => :post %>
  <%= link_to "Додати категорію доходів", new_category_path(:ctype => "income"), :method => :post %>
</div>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
  <% end %>
</div>

<%= paginate @categories, window: 1, outer_window: 1 %>
