<p style="color: green"><%= notice %></p>

<h3>Детальніше про категорію</h3>

<button type="button"><%= link_to "Перелік категорій", categories_path %></button>
<button type="button"><%= link_to "Редагувати", edit_category_path(@category) %></button>
<button type="button"><%= link_to "Видалити", @category,  data: { turbo_method: :delete, turbo_confirm: 'Точно видалити?' } %></button>

<% if @category.ctype == "outcome" %>
    <div class = "one_item_outcome">
<% else %>
    <div class = "one_item_income">
<% end %>
    <table>
    <tr class = "one_item">
        Номер категорії: <%= @category.id %>
    </tr>
    <tr class = "one_item">
        Назва: <%= @category.name %>
    </tr>
    <tr class = "one_item">        
        Опис: <%= @category.description %>   
    </tr>
    </table>