<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h3>Детальніше про категорію</h3>

<div class = "button_on_top">
    <%= link_to '<i class="bi bi-house-fill"></i> На головну'.html_safe, root_path %>
    <%= link_to '<i class="bi bi-list-columns-reverse"></i> Перелік категорій'.html_safe, categories_path %>
    <%= link_to '<i class="bi bi-pencil-fill"></i> Редагувати'.html_safe, edit_category_path(@category) %>
    <%= link_to '<i class="bi bi-trash3-fill"></i> Видалити'.html_safe, @category, 
        data: { turbo_method: :delete, turbo_confirm: 'Точно видалити? Категорія видалиться лише якщо з нею не має операцій' } %>
</div>

<% if @category.ctype == "outcome" %>
    <div class = "one_item_outcome">
<% else %>
    <div class = "one_item_income">
<% end %>
        <table>
            <tr class = "one_item_show">
                <td><strong>Номер категорії: </strong><%= @category.id %></td>
            </tr>
            <tr class = "one_item_show">
                <td><strong>Назва: </strong><%= @category.name %></td>
            </tr>
            <tr class = "one_item_show">        
                <td><strong>Опис: </strong><%= @category.description %></td>
            </tr>
        </table>
</div>
