<%= form_with url: "reports", method: :get do |form| %>

    <div class = "form">

        <div>
            <%= form.label :start_date, t('.start-date'), style: "display: block" %>
            <%= form.date_field :start_date, :value => (Time.now.to_date - 6) %>
        </div>

        <div>
            <%= form.label :end_date, t('.end-date'), style: "display: block" %>
            <%= form.date_field :end_date, :value => Time.now.to_date %>
        </div>

        <div>
            <%= form.label :otype, t('.otype.label') %>
            <br>
            <div class = "radio_button">
                <%= form.radio_button :otype, "outcome", checked: true %>
                <%= form.label :otype_outcome, t('.otype.outcome') %>
                <%= form.radio_button :otype, "income" %>
                <%= form.label :otype_income, t('.otype.income') %>
            </div>
        </div>
       
        <script>
            {$(document).ready(function(){
                $("#cat_outcome").show();
                $("#cat_income").hide();
                $("input:radio[name='otype']").change(function(){                      
                        if(this.value == 'outcome' && this.checked){
                            $("#cat_outcome").show();
                            $("#cat_income").hide();
                        }else{
                            $("#cat_outcome").hide();
                            $("#cat_income").show();
                        }
                });
            });}
        </script>      

        <div>
            <%= form.label :category_id, t('.category'), style: "display: block" %>
            <div id = "cat_outcome">
                <%= select_tag(:category_id_out, options_for_select(@categories_outcome)) %>
            </div>
            <div id = "cat_income" style = "display: none">
                <%= select_tag(:category_id_in, options_for_select(@categories_income)) %>
            </div>    
        </div>

        <div>
            <%= form.button :name => nil, formaction: "reports/report_by_dates", class: "btn btn-success" do %>
              <i class="bi bi-graph-up"></i><%= t('button.submit-dates') %>
            <% end %>
            <%= form.button :name => nil, formaction: "reports/report_by_category", class: "btn btn-success" do %>
              <i class="bi bi-pie-chart"></i><%= t('button.submit-category') %>
            <% end %>
        </div>
    

    </div>

<% end %>
