<% if @otype == "outcome" %>
    <h3>Розподіл витрат по дням</h3>    
    <div class = "one_item_outcome">
<% else %>
    <h3>Розподіл доходів по дням</h3>    
    <div class = "one_item_income">
<% end %>
  <h4>За період з <%= @start_date.to_date.strftime('%d.%m.%Y') %> по <%= @end_date.to_date.strftime('%d.%m.%Y') %></h4>
    <% if @category_id == "0" %>
      <h5>(всі категорії)</h5>
    <% else %>
      <h5>(категорія: "<%= @category_name %>")</h5>
    <% end %>
    
  <% if @dates.size == 0 %>
    <p style="color: red; font-weight: bold">За вибраний період часу, таких операцій немає.
    <br>Спробуй створити звіт з іншими параметрами запиту
    </p>
    <div class = "button_in_item">
      <%= link_to "Звіт", reports_path %>
    </div>

  <% else %> 
    <div class = "report_content">
      <div class = "report_item_table">
        <table class ="report_table">
         <tr>
           <th>Дата</th>
           <th>Сума</th>
          </tr>
          <% @graph_data.each do |graph| %>
            <tr>
             <td style = "text-align: left"><%= graph[0].to_date.strftime('%d.%m.%Y') %></td>
             <td><%= graph[1] %></td>
            </tr>
          <% end %>
            <tr>
            <th colspan = "2", style = "text-align: left">Всього: <%= @period_sum %> грн</th>
            </tr>
        </table>
      </div>

      <div class = "report_item_image">       
        <canvas id="myChart"></canvas>
        <script>
        {
          const ctx = document.getElementById('myChart').getContext('2d');
          const data = {
            labels: <%= raw @dates %>,
            datasets: [{
              label: 'Грошовий потік',
              data: <%= @moneys %>,
              fill: false,
              borderColor: 'rgb(65, 105, 225)',
              tension: 0.1
            }]
          };

          const config = {
            type: 'line',
            data: data,        
          };
          
          const myChart = new Chart(ctx, config);
        }
        </script>
      </div>
    </div>

    

  <% end %>

</div>

<div class = "button_on_bottom">
  <%= link_to '<i class="bi bi-house-fill"></i> На головну'.html_safe, root_path %>
  <%= link_to '<i class="bi bi-file-earmark-bar-graph-fill"></i> Звіт'.html_safe, reports_path %>
</div>
