<h3>Графік операцій по дняx</h3>
<div class = "report_item">
  <% if @dates.size == 0 %>
    <p style="color: red; font-weight: bold">За вибраний період часу, таких операцій немає.
    <br>Спробуй створити звіт з іншими параметрами запиту
    </p>
    <div class = "button_in_item">
       <%= link_to "Звіт", reports_path %>
    </div>
  <% elsif @dates.size == 1 %>
    <p style="font-weight: bold">Недостатньо даних для побудови графіку. 
    <br>Параметрам запиту відповідає лише один день - <%= @dates.join.to_date %>. Загальна сума: <%= @rates.join %> грн.
    <br>Спробуй створити звіт з іншими параметрами запиту
    </p>
    <div class = "button_in_item">
       <%= link_to "Звіт", reports_path %>
    </div>

  <% else %>    
    <canvas id="myChart" width="600" height="400">
    <script>
    {
      const ctx = document.getElementById('myChart').getContext('2d');
      const data = {
        labels: <%= raw @dates %>,
        datasets: [{
          label: 'Графік по днях',
          data: <%= @rates %>,
          fill: false,
          borderColor: 'rgb(75, 192, 192)',
          tension: 0.1
        }]
      };

      const config = {
        type: 'line',
        data: data,
        options: {
          responsive: false
        }
      };

      const myChart = new Chart(ctx, config);
    }
    </script>
    </canvas>

  <% end %>

</div>
