<%= form_with(model: operation) do |form| %>
  <% if operation.errors.any? %>
    <div style="color: red">
      <h2><%= t 'forms.messages.errors', count: operation.errors.count %></h2>
      <ul>
        <% operation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if operation.otype == "outcome" %>
    <div class = "one_item_outcome">
  <% else %>
    <div class = "one_item_income">
  <% end %>

      <% if @categories.size == 0 %>

          <p style="color: red; font-weight: bold"><%= t('.dbempty_html') %>
          </p>
          
          <% if operation.otype == "outcome" %>
            <div class = "button_in_item">
              <%= link_to new_category_path(:ctype => "outcome"), :method => :post do %>
                <i class="bi bi-bookmark-plus-fill"></i><%= t('button.add.outcome-cat') %>
              <% end %>
            </div>
          <% else %>
            <div class = "button_in_item">
              <%= link_to new_category_path(:ctype => "income"), :method => :post do %>
                <i class="bi bi-bookmark-plus-fill"></i><%= t('button.add.income-cat') %>
              <% end %>
            </div>
          <% end %>
        
      <% else %>

      <div class = "form">
      
          <div>
            <%= form.hidden_field :otype %>
          </div>

          <div>
            <%= form.label :amount, t('.amount'), style: "display: block" %> 
            <%= form.number_field :amount, min: 0.0, step: 0.01%> <%= t('number.currency.format.unit') %>
          </div>

          <div>
            <%= form.label :odate, t('.odate'), style: "display: block" %>
            <%= form.date_field :odate %>
          </div>

          <div>
            <%= form.label :category_id, t('.category_id'), style: "display: block" %>
            <%= select(:operation, :category_id, options_for_select(@categories)) %>
          </div>

          <div>
            <%= form.label :description, t('.description'), style: "display: block" %>
            <%= form.text_area :description, size: "30x5", placeholder: t('.description-placeholder') %>
          </div>

          <div>
            <%= form.button nil, class: "btn btn-success" do %>
              <i class="bi bi-check-lg"></i><%= t('button.submit') %>
            <% end %>
          </div>

        </div>

      <% end %>
  </div>    

<% end %>


