<%= form_with(model: operation) do |form| %>
  <% if operation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

      <ul>
        <% operation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if operation.otype == "outcome" %>
    <div class = "one_item_outcome">
  <% else %>
    <div class = "one_item_income">
  <% end %>

      <% if @categories.size == 0 %>

          <p style="color: red; font-weight: bold">Немає категорій, які відповідають вибраному типу операцій.
          <br>Спочатку потрібно створити хоч одну таку категорію
          </p>
          
          <% if operation.otype == "outcome" %>
            <div class = "button_in_item">
              <%= link_to '<i class="bi bi-bookmark-plus-fill"></i> Додати категорію витрат'.html_safe, new_category_path(:ctype => "outcome"), :method => :post %>
            </div>
          <% else %>
            <div class = "button_in_item">
              <%= link_to '<i class="bi bi-bookmark-plus-fill"></i> Додати категорію доходів'.html_safe, new_category_path(:ctype => "income"), :method => :post %>
            </div>
          <% end %>
        
      <% else %>

      <div class = "form">
      
          <div>
            <%= form.hidden_field :otype %>
          </div>

          <div>
            <%= form.label :amount, "Сума:", style: "display: block" %>
            <%= form.number_field :amount, min: 0.0, step: 0.01%>
          </div>

          <div>
            <%= form.label :odate, "Дата:", style: "display: block" %>
            <%= form.date_field :odate %>
          </div>

          <div>
            <%= form.label :category_id, "Категорія:", style: "display: block" %>
            <%= select(:operation, :category_id, options_for_select(@categories)) %>
          </div>

          <div>
            <%= form.label :description, "Опис:", style: "display: block" %>
            <%= form.text_area :description, size: "30x5", placeholder: "Ввести опис операції" %>
          </div>

          <div>
            <%= form.button nil, class: "btn btn-success" do %>
              <i class="bi bi-check-lg"></i> Підтвердити
            <% end %>
          </div>

        </div>

      <% end %>
  </div>    

<% end %>


