<div id="<%= dom_id operation %>">
 <p>
    <strong>Тип:</strong>
    <%= operation.otype %>
  </p>
  <p>
    <strong>Сума:</strong>
    <%= operation.amount %>
  </p>

  <p>
    <strong>Дата:</strong>
    <%= operation.odate %>
  </p>

  <p>
    <strong>Опис:</strong>
    <%= operation.description %>
  </p>

  <p>
    <strong>Категорія:</strong>
    <%= operation.category_id %>
  </p>

</div>
