<div id="<%= dom_id operation %>">

<% if operation.otype == "outcome" %>
    <div class = "one_item_outcome">
<% else %>
    <div class = "one_item_income">
<% end %>
    <table>
        <tr class = "one_item">
            <td class = "op_odate"><%= I18n.l(operation.odate.to_date, format: :short) %></td>
            <td class = "op_amount"><%= operation.amount %> <%= t('number.currency.format.unit') %></td>
            <td class = "op_category"><%= Category.find(operation.category_id).name %></td>
            <td class = "op_description"><%= operation.description %></td>
            <td class = "td_button_show">
                <%= link_to operation do %>
                    <i class="bi bi-file-earmark-text-fill"></i>
                <% end %>
            </td>
            <td class = "td_button">
                <%= link_to '<i class="bi bi-pencil-fill"></i>'.html_safe, edit_operation_path(operation) %>
            </td>
            <td class = "td_button">
                <%= link_to '<i class="bi bi-trash3-fill"></i>'.html_safe, operation, data: { turbo_method: :delete, turbo_confirm: t('operations.delete.confirm') } %>
            </td>
        </tr>
    </table>
</div>

</div>
