<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h3>Журнал операцій</h3>

<div class = "button_on_top">
  <%= link_to "Додати витрату", new_operation_path(:otype => "outcome"), :method => :post %>
  <%= link_to "Додати дохід", new_operation_path(:otype => "income"), :method => :post %>
</div>

<div id="operations">

  <% @operations.reverse_each do |operation| %>
  <%= render operation %>
  <% end %>
  
</div>

<%= paginate @operations, window: 1, outer_window: 1 %>
