<h3><%= t('.title') %></h3>

<div class = "button_on_top">
  <%= link_to root_path do %>
    <i class="bi bi-house-fill"></i><%= t('button.home') %>
  <% end %>
  <%= link_to new_operation_path(:otype => "outcome"), :method => :post do %>
    <i class="bi bi-bag-plus-fill"></i><%= t('button.add.outcome') %>
  <% end %>
  <%= link_to new_operation_path(:otype => "income"), :method => :post do %>
    <i class="bi bi-bag-plus-fill"></i><%= t('button.add.income') %>
  <% end %>
</div>

<% if @operations.size != 0 %>

  <div class = "search">
    <%= form_tag(search_path, :method => "get") do %>
      <%= label_tag(:category_id, t('.filter.text')) %>
      <%= select_tag(:category_id, options_for_select(@categories)) %>
      <%= button_tag(type: "submit", :name => nil, class: "btn btn-secondary btn-sm") do %>
        <i class="bi bi-funnel"></i><%= t('.filter.button') %>
      <% end %>
    <% end %>
  </div>

  <div id="operations">

    <% @operations.each do |operation| %>
    <%= render operation %>
    <% end %>

  </div>

  <%= paginate @operations, window: 1, outer_window: 1 %>

<% else %>
  <div class = "empty_item">
    <p style="color: red; font-weight: bold"><%= t('.dbempty_html') %>
    </p>
  </div>
<% end %>
