<% if @operation.otype == "outcome" %>
    <h3><%= t('.title.outcome') %></h3>
<% else %>
    <h3><%= t('.title.income') %></h3>
<% end %>

<div class = "button_on_top">
    <%= link_to root_path do %>
        <i class="bi bi-house-fill"></i><%= t('button.home') %>
    <% end %>
    <%= link_to operations_path do %>
        <i class="bi bi-list-columns-reverse"></i><%= t('button.operations-list') %>
    <% end %>
</div>

<%= render "form", operation: @operation %>
