<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h3>Детальніше про операцію</h3>

<div class = "button_on_top">
    <%= link_to '<i class="bi bi-house-fill"></i> На головну'.html_safe, root_path %>
    <%= link_to '<i class="bi bi-list-columns-reverse"></i> Журнал операцій'.html_safe, operations_path %>
    <%= link_to '<i class="bi bi-pencil-fill"></i> Редагувати'.html_safe, edit_operation_path(@operation) %>
    <%= link_to '<i class="bi bi-trash3-fill"></i> Видалити'.html_safe, @operation, data: { turbo_method: :delete, turbo_confirm: 'Точно видалити?' } %>
</div>

<% if @operation.otype == "outcome" %>
    <div class = "one_item_outcome">
<% else %>
    <div class = "one_item_income">
<% end %>
    <table>
        <tr class = "one_item_show">
            <td><strong>Номер операції: </strong><%= @operation.id %></td>
        </tr>
        <tr class = "one_item_show">
            <td><strong>Дата: </strong><%= @operation.odate.to_date.strftime('%d.%m.%Y') %></td>
        </tr>
        <tr class = "one_item_show">
            <td><strong>Сума: </strong><%= @operation.amount %></td>
        </tr>
        <tr class = "one_item_show">
            <td><strong>Категорія: </strong><%= Category.find(@operation.category_id).name %></td>
        </tr>
        <tr class = "one_item_show">
            <td><strong>Опис: </strong><%= @operation.description %></td>
        </tr>
    </table>

