<p style="color: green"><%= notice %></p>

<h3>Детальніше про операцію</h3>

<button type="button"><%= link_to "Журнал операцій", operations_path %></button>
<button type="button"><%= link_to "Редагувати", edit_operation_path(@operation) %></button>
<button type="button"><%= link_to "Видалити", @operation, data: { turbo_method: :delete, turbo_confirm: 'Точно видалити?' } %></button>

<% if @operation.otype == "outcome" %>
    <div class = "one_item_outcome">
<% else %>
    <div class = "one_item_income">
<% end %>
    <table>
    <tr class = "one_item">
        Номер операції: <%= @operation.id %>
    </tr>
    <tr class = "one_item">
        Дата та час: <%= @operation.odate %>
    </tr>
    <tr class = "one_item">
        Сума: <%= @operation.amount %>
    </tr>
    <tr class = "one_item"> 
        Категорія: <%= Category.find(@operation.category_id).name %>
    </tr>
    <tr class = "one_item">
        Опис: <%= @operation.description %>
    </tr>



    </table>

