<p style="color: green"><%= notice %></p>

<%= render @operation %>

<div>
  <%= link_to "Редагувати операцію", edit_operation_path(@operation) %> |
  <%= link_to "Повернутись до списку операцій", operations_path %>

  <%= button_to "Видалити цю операцію", @operation, method: :delete %>
</div>
