<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h3>Детальніше про операцію</h3>

<div class = "button_on_top">
    <%= link_to "На головну", root_path %>
    <%= link_to "Журнал операцій", operations_path %>
    <%= link_to "Редагувати", edit_operation_path(@operation) %>
    <%= link_to "Видалити", @operation, data: { turbo_method: :delete, turbo_confirm: 'Точно видалити?' } %>
</div>

<% if @operation.otype == "outcome" %>
    <div class = "one_item_outcome">
<% else %>
    <div class = "one_item_income">
<% end %>
    <table>
        <tr class = "one_item_show">
            <td><strong>Номер операції: </strong><%= @operation.id %></td>
        </tr>
        <tr class = "one_item_show">
            <td><strong>Дата: </strong><%= @operation.odate.to_date.strftime('%d.%m.%Y') %></td>
        </tr>
        <tr class = "one_item_show">
            <td><strong>Сума: </strong><%= @operation.amount %></td>
        </tr>
        <tr class = "one_item_show">
            <td><strong>Категорія: </strong><%= Category.find(@operation.category_id).name %></td>
        </tr>
        <tr class = "one_item_show">
            <td><strong>Опис: </strong><%= @operation.description %></td>
        </tr>
    </table>

